@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
$theme-colors: (
    'primary': #084c61,
    'secondary': #bfc0c0,
    'success': green,
    'info': #177e89,
    'warning': #ffc857,
    'danger': #db3a34,
    'light': #92cfbb,
    'dark': #001219,
);

/* import bootstrap to set changes */
@import '~bootstrap/scss/bootstrap';

body {
    font-family: 'Space Grotesk', sans-serif;
    color: $white;
    background-color: $dark;
}

.chartGridLine {
    height: 30px;
    border-top: 1px solid #134f5f;
}
.optionChart {
    position: relative;
}
.putOptionHeader {
    background: rgb(8, 76, 97);
    background: linear-gradient(180deg, #0d2226, #0e2d31, #0f363a);
}

.putOptionFooter {
    background: rgb(219, 58, 52);
    background: linear-gradient(0deg, #0c171b, #1a1c1c, #29221c);
}
.callOptionHeader {
    background: rgb(219, 58, 52);
    background: linear-gradient(180deg, #0c171b, #1a1c1c, #29221c);
}

.callOptionFooter {
    background: rgb(8, 76, 97);
    background: linear-gradient(180deg, #0d2226, #0e2d31, #0f363a);
}

.chartPriceDisplay::before {
    content: attr(data-value);
    height: 22px;
    min-width: 150px;
    position: absolute;
    bottom: -1px;
    -webkit-transform: translate(0, 50%);
    -moz-transform: translate(0, 50%);
    -o-transform: translate(0, 50%);
    -ms-transform: translate(0, 50%);
    transform: translate(0, 50%);
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    line-height: 100%;
    padding: 5px 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.chartOptionCurrent {
    position: absolute;
    color: #000;
    width: 100%;
    z-index: 98999;
}
.chartOptionBreakEven {
    border-bottom: 3px solid #db3a34;
    position: absolute;
    color: #000;
    width: 100%;
    z-index: 0;
    top: 180px;
}
.chartOptionStrikePrice {
    border-bottom: 3px solid #199396;
    position: absolute;
    color: #000;
    width: 100%;
    z-index: 0;
    top: 90px;
}
.chartOptionCurrent::before {
    background: #ffee51;
    z-index: 999;
}
.chartOptionBreakEven::before {
    background: #db3a34;
    color: #fff;
    right: 0px;
    z-index: 999;
}
.chartOptionStrikePrice::before {
    background: #199396;
    color: #fff;
    z-index: 999;
    right: 0px;
}

a.nav-link {
    color: #f3ebd4;
}
a.nav-link:hover {
    color: #f3ebd4;
}

.callout {
    background-color: #0b3d42;
    color: #a8d3c7;
    padding: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    margin-bottom: 10px;
}

.callout-strike {
    border-left: #199396 10px solid;
}
.callout-total {
    border-left: #f26e26 10px solid;
}
.callout-even {
    border-left: #ffee51 10px solid;
}
.callout-pnl {
    border-left: #e91892 10px solid;
}

.banner-color {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: -2;
}

.hegeos-color {
    position: absolute;
    left: 0;
    top: 1500px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: -2;
}

.liquidityPool {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px;
}

.boxStyle {
    border: #92cfbb 2px solid;
    color: #92cfbb;
    background-color: #0c171b;
    border-radius: 10px;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 800px;
        margin: 1.75rem auto;
    }
}
.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.0001) !important;
}
.footer-area {
    padding-top: 55px;
    padding-bottom: 55px;
    position: relative;
}
.banefits-color-2 {
    position: absolute;
    left: 50%;
    top: 500px;
    transform: translateX(-50%);
    z-index: -1;
    width: 100%;
}

a.active {
    color: #fff !important;
    font-weight: bold !important;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    color: #fff;
    background-color: #063d4e;
    border-color: #063949;
    border-bottom-color: #fff;
}

a,
a:hover {
    color: #fff;
}

.provide-liquidity__arrow {
    height: 1px;
    margin: auto 1px auto 0;
    background: #defefe;
    position: relative;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.provide-liquidity__arrow:after {
    content: '';
    position: absolute;
    height: 8px;
    width: 6px;
    right: -2px;
    background: url('/images/arrow.svg');
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.with-arrow {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    min-height: 8px;
}

.interface .col > div:hover {
    background-color: #1f353c !important;
    color: #fff;
    cursor: pointer;
}
.interface .col > div:active,
.interface .col > div.active {
    background-color: #1f353c !important;
    color: #fff;
    cursor: pointer;
}

.sqborder {
    border-radius: 50px;
    background-color: #052527;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    margin-bottom: -20px;
}
